/* HomeFeed styles */

.homeFeedCell {
  max-width: 900px;
  padding: 15px;
  margin: auto;
}
.cellHeader {
  text-align: center;
}
.cellText {
  text-align: center;
}
img.centerContent {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 600px;
}
/* need to individually scale images properly */
img.scaleDefault {
  max-width: 100%;
  height: auto;
}